*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.first-c{
    width: 98%;
    height: 80vh;
    background-color: #42C2FF;
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}
.picture{
    width: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 2rem;
}
.picture img{
    width: 100%;
}

.left {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-bottom{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;   
}
.title-bottom h4{
    font-family: 'ubuntu';
}

.right{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.card-c{
    background-color: #EFFFFD;
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 3rem;
    border-radius: 5px;
    padding: 0 1rem;
}
.card-c h5{
    width: 30%;
    font-family: 'ubuntu';
    font-weight: bold;
}



@media screen and (max-width: 950px){
    .first-c{
        width: 98%;
        height: 100vh;
        background-color: #42C2FF;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .left{
        width: 98%;
        height: 50%;
    }
    .right{
        width: 98%;
    }
    .title-bottom{
        width: 50%;
    }
}

@media screen and (max-width: 650px){
    .picture{
        width: 200px;
        border-radius: 50%;
        overflow: hidden;
        margin-top: 2rem;
    }
    .card-c{
        gap: 1rem;
    }
    .card-c h5 , .card-c span{
        font-size: 0.9rem;
    }

}